body{
  background-image: url("background.jpg");
  background: url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 12px;
  font-family: Arial;
  color: white;
  margin: 0;
}

.body{
  margin: 0 auto;
  width: 90%;
  clear: both;
}

h1{
  text-align: center;
}

.mainheader nav{
  background-color: #333;
  height: 40px;
  border-radius: 5px;
}

.mainheader nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mainheader nav ul li{
    float: left;
}

.mainheader nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mainheader nav ul li a:hover{
    background-color: #111;
    height: 12px;
    border-radius: 5px;
    color: lime;
}

.maincontent{
    line-height: 25px;
    border-radius: 5px;
}

.content{
  width: 80%;
  float: left;
}

.topcontent{
  background-color: #333;
  border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}

.topcontent a{
  color: white;
  text-decoration: none;
}

.topcontent a:hover{
  color: lime;
}

.sidebar{
  width: 10%;
  height: 0 auto;
  float: left;
  background-color: #333;
  border-radius: 5px;
  padding: 2% 3%;
  margin-left: 3%;
  margin-top: 1.6%;
  margin-bottom: 2%;
}

.sidebar article img{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: inline-block;
}

.mainfooter{
  width: 100%;
  float: left;
  border-radius: 5px;
  background-color: #333;
  margin-top: 2%
}

.mainfooter p{
  width: 92%;
  margin: 0 auto;
  text-align: center;
}

.responsive-image{
  width: 15%;
  max-width: 800px;
  height: auto;
  float: left;
  margin-right: 3%;
  border-radius: 5px;
  margin-top: 2%;
}

.topcontent nav ul li a{
  display: block;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.topcontent nav ul li a:hover{
    background-color: #111;
    height: 25px;
    border-radius: 5px;
}

.content-sitemap{
  width: 100%;
}

.content-techniek{
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 150px) and (max-width: 600px)
{
  .body{
    width: 100%;
  }

  .mainheader nav{
    height: 210px;
  }

  .mainheader nav ul{
    padding-left: 0;
  }

  .mainheader nav ul li{
      float: left;
      display: inline;
      width: 100%;
  }

  .mainheader nav ul li a:hover{
      height: 15px;
  }

  .maincontent{
      line-height: 20px;
      border-radius: 5px;
  }

  .content{
    width: 100%;
    text-align:center;
  }

  .sidebar{
    width: 94%;
    margin-left: 0%;
    margin-top: 2%;
    margin-bottom: 0%;
    margin-right: 0%;
    text-align: center;
  }

  .sidebar article img{
    display:inline-block;
  }

  .responsive-image{
    width: 30%;
    max-width: 800px;
    height: auto;
    display: block;
    margin-left: 36%;
    margin-right: 50%;
  }

  .mainfooter{
    margin-bottom: 1%;
  }

}
